{
    "openapi": "3.0.0",
    "info": {
        "title": "Tayari Engine API",
        "description": "This is the official documentation for the Tayari Engine API.It provides all endpoints available for Learners, Instructors, Employers , Program Coordinators and Others.Use this documentation as a guide to integrate or test the Tayari system.",
        "contact": {
            "name": "Tayari Support Team",
            "email": "support@Tayari.co.tz"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.tayari.work/api",
            "description": "Live Server"
        },
        {
            "url": "http://localhost:1234/api",
            "description": "Test Server"
        }
    ],
    "paths": {
        "/admin/logs": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get filtered admin logs",
                "description": "Fetch admin logs with filters for search, action, and role. Returns paginated logs along with stats (total logs, active users, last 24h logs, and filtered count).",
                "operationId": "e8a4c581156ab572cdbe40da5d4875c1",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by user's first name, last name, or email",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "john"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Filter logs by action type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "LOGIN"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "description": "Filter logs by user role",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Admin"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filtered admin logs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Filtered admin logs"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "stats": {
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "active": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_24": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "filtered": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "logs": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "user_id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "action": {
                                                                        "type": "string",
                                                                        "example": "LOGIN"
                                                                    },
                                                                    "details": {
                                                                        "type": "string",
                                                                        "example": "Super_admin dashboard access"
                                                                    },
                                                                    "ip_address": {
                                                                        "type": "string",
                                                                        "example": "127.0.0.1"
                                                                    },
                                                                    "created_at": {
                                                                        "type": "string",
                                                                        "format": "date-time",
                                                                        "example": "2025-08-30T06:10:53.000000Z"
                                                                    },
                                                                    "first_name": {
                                                                        "type": "string",
                                                                        "example": "Tayari"
                                                                    },
                                                                    "last_name": {
                                                                        "type": "string",
                                                                        "example": "Admin"
                                                                    },
                                                                    "roles": {
                                                                        "type": "string",
                                                                        "example": "super_admin"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "first_page_url": {
                                                            "type": "string",
                                                            "example": "{base_url}/admin/logs?page=1"
                                                        },
                                                        "from": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page_url": {
                                                            "type": "string",
                                                            "example": "{base_url}/api/admin/logs?page=1"
                                                        },
                                                        "links": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "url": {
                                                                        "type": "string",
                                                                        "example": null,
                                                                        "nullable": true
                                                                    },
                                                                    "label": {
                                                                        "type": "string",
                                                                        "example": "« Previous"
                                                                    },
                                                                    "page": {
                                                                        "type": "integer",
                                                                        "example": null,
                                                                        "nullable": true
                                                                    },
                                                                    "active": {
                                                                        "type": "boolean",
                                                                        "example": false
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "next_page_url": {
                                                            "type": "string",
                                                            "example": null,
                                                            "nullable": true
                                                        },
                                                        "path": {
                                                            "type": "string",
                                                            "example": "{base_url}/api/admin/logs"
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 20
                                                        },
                                                        "prev_page_url": {
                                                            "type": "string",
                                                            "example": null,
                                                            "nullable": true
                                                        },
                                                        "to": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/communications": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Send bulk communications",
                "description": "Send a message to one or more recipients via email. Accepts comma-separated list of emails, subject, and message body. Returns a list of successfully sent emails.",
                "operationId": "0ea1a98756600a3229290f91f8b61e9d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "emails",
                                    "subject",
                                    "message"
                                ],
                                "properties": {
                                    "emails": {
                                        "description": "Comma-separated list of email addresses",
                                        "type": "string",
                                        "example": "user1@example.com, user2@example.com"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "System Maintenance Notice"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Dear users, the system will be undergoing maintenance tonight at 11:00 PM UTC."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Emails sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Emails sent successfully."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "sent_to": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "user1@example.com"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No valid emails provided",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No valid emails provided"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to validate fields"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "emails": [
                                                    "The emails field is required."
                                                ],
                                                "subject": [
                                                    "The subject field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error sending emails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error sending emails: SMTP connection failed"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/aptitude/start": {
            "get": {
                "tags": [
                    "Aptitude"
                ],
                "summary": "Fetch all aptitude questions for learners",
                "description": "Requires authentication. Only users with the role 'learner' can access this endpoint. Returns a list of aptitude questions with their options.",
                "operationId": "getAptitudeQuestions",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "status": true,
                                    "message": "Starting aptitude tests",
                                    "code": 200,
                                    "data": [
                                        {
                                            "id": 1,
                                            "title": "What interests you most?",
                                            "sub_title": "Select all areas you'd like to learn about",
                                            "qn_type": "multiple",
                                            "created_at": "2025-08-28T19:46:10.000000Z",
                                            "updated_at": "2025-08-28T19:46:10.000000Z",
                                            "options": [
                                                {
                                                    "id": 1,
                                                    "question_id": 1,
                                                    "title": "Technology & Programming",
                                                    "key": "Tech",
                                                    "sub_title": null,
                                                    "icon": "fa fa-business",
                                                    "color": "#ff0000",
                                                    "created_at": "2025-08-28T19:46:10.000000Z",
                                                    "updated_at": "2025-08-28T19:46:10.000000Z"
                                                },
                                                {
                                                    "id": 2,
                                                    "question_id": 1,
                                                    "title": "Digital Marketing",
                                                    "key": "Marketing",
                                                    "sub_title": null,
                                                    "icon": "fa fa-stocks",
                                                    "color": "#ff2e20",
                                                    "created_at": "2025-08-28T19:46:10.000000Z",
                                                    "updated_at": "2025-08-28T19:46:10.000000Z"
                                                }
                                            ]
                                        },
                                        {
                                            "id": 2,
                                            "title": "What's your current skill level?",
                                            "sub_title": "Be honest - this helps us recommend the right courses",
                                            "qn_type": "single",
                                            "created_at": "2025-08-28T19:46:10.000000Z",
                                            "updated_at": "2025-08-28T19:46:10.000000Z",
                                            "options": [
                                                {
                                                    "id": 5,
                                                    "question_id": 2,
                                                    "title": "Beginner",
                                                    "key": "beginner",
                                                    "sub_title": "Just getting started",
                                                    "icon": null,
                                                    "color": null,
                                                    "created_at": "2025-08-28T19:46:10.000000Z",
                                                    "updated_at": "2025-08-28T19:46:10.000000Z"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "description": "Forbidden - Only learners can access this resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Only learners can access this"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 403
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Denied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User already has aptitude test."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 400
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/aptitude/submit": {
            "post": {
                "tags": [
                    "Aptitude"
                ],
                "summary": "Submit learner aptitude test answers",
                "description": "Stores learner aptitude test answers, evaluates skill level, career goals, and recommends courses. Requires authentication (role: learner).",
                "operationId": "storeAptitudeAnswers",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "answers"
                                ],
                                "properties": {
                                    "answers": {
                                        "required": [
                                            "question_1",
                                            "question_2",
                                            "question_3"
                                        ],
                                        "properties": {
                                            "question_1": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "example": "tech"
                                                }
                                            },
                                            "question_2": {
                                                "type": "string",
                                                "example": "beginner"
                                            },
                                            "question_3": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "example": "full-time"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "example": {
                                "answers": {
                                    "question_1": [
                                        "tech",
                                        "design"
                                    ],
                                    "question_2": "beginner",
                                    "question_3": [
                                        "full-time",
                                        "internship"
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Aptitude test results successfully stored",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Aptitude test results"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "interests": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "tech"
                                                    }
                                                },
                                                "skill_level": {
                                                    "type": "string",
                                                    "example": "Beginner"
                                                },
                                                "career_goal": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Full-time Employment"
                                                    }
                                                },
                                                "courses": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Intro to Programming"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "status": true,
                                    "message": "Aptitude test results",
                                    "code": 200,
                                    "data": {
                                        "interests": [
                                            "tech",
                                            "design"
                                        ],
                                        "skill_level": "Beginner",
                                        "career_goal": [
                                            "Full-time Employment",
                                            "Internship"
                                        ],
                                        "courses": [
                                            {
                                                "id": 1,
                                                "name": "Intro to Programming"
                                            },
                                            {
                                                "id": 2,
                                                "name": "UI/UX Basics"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation errors"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error: Something went wrong"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/aptitudes": {
            "post": {
                "tags": [
                    "Aptitude"
                ],
                "summary": "Create a new aptitude question with options",
                "description": "Creates a new aptitude question with its related options.",
                "operationId": "421bdd654f5f13daae1fa106638fc360",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "qn_type",
                                    "options"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "What interests you most?"
                                    },
                                    "sub_title": {
                                        "type": "string",
                                        "example": "Select all areas you'd like to learn about",
                                        "nullable": true
                                    },
                                    "qn_type": {
                                        "type": "string",
                                        "enum": [
                                            "single",
                                            "multiple"
                                        ],
                                        "example": "single"
                                    },
                                    "options": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "title"
                                            ],
                                            "properties": {
                                                "title": {
                                                    "type": "string",
                                                    "example": "Technology & Programming"
                                                },
                                                "key": {
                                                    "type": "string",
                                                    "example": "Tech",
                                                    "nullable": true
                                                },
                                                "sub_title": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "icon": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "color": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Aptitude question created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Aptitude question created successfully."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "What interests you most?"
                                                },
                                                "sub_title": {
                                                    "type": "string",
                                                    "example": "Select all areas you'd like to learn about",
                                                    "nullable": true
                                                },
                                                "qn_type": {
                                                    "type": "string",
                                                    "example": "single"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-10-24T05:45:16.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-10-24T05:45:16.000000Z"
                                                },
                                                "options": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 11
                                                            },
                                                            "question_id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Technology & Programming"
                                                            },
                                                            "key": {
                                                                "type": "string",
                                                                "example": "Tech",
                                                                "nullable": true
                                                            },
                                                            "sub_title": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "icon": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "color": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-24T05:45:16.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-24T05:45:16.000000Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "title": [
                                                    "The title field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Server Error."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/aptitudes/{id}": {
            "get": {
                "tags": [
                    "Aptitude"
                ],
                "summary": "Fetch a single aptitude question by ID",
                "description": "Returns a specific aptitude question and its related options.",
                "operationId": "2bd9e8bd61eae3a81bec9c6f89e6c9e5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the aptitude question to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aptitude question fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Aptitude question fetched successfully."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "How do you master your time?"
                                                },
                                                "sub_title": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "qn_type": {
                                                    "type": "string",
                                                    "example": "single"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-10-24T05:45:16.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-10-24T05:45:16.000000Z"
                                                },
                                                "options": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 11
                                                            },
                                                            "question_id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Easy"
                                                            },
                                                            "key": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "sub_title": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "icon": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "color": {
                                                                "type": "string",
                                                                "example": "#00AAFF",
                                                                "nullable": true
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-24T05:45:16.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-24T05:45:16.000000Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Aptitude question not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No query results for model [AptitudeQuestion] 999"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Server Error."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Aptitude"
                ],
                "summary": "Update an existing aptitude question and its options",
                "description": "Updates an aptitude question and optionally its related options. \n     *     Existing options can be updated by including their IDs, or new options can be added without an ID.",
                "operationId": "cae1aaf9df53880294f92ae8574666f2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the aptitude question to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "How do you manage your time effectively?"
                                    },
                                    "sub_title": {
                                        "type": "string",
                                        "example": "Pick one that describes your approach.",
                                        "nullable": true
                                    },
                                    "qn_type": {
                                        "type": "string",
                                        "enum": [
                                            "single",
                                            "multiple"
                                        ],
                                        "example": "single"
                                    },
                                    "options": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "description": "If provided, updates the option instead of creating a new one.",
                                                    "type": "integer",
                                                    "example": 11,
                                                    "nullable": true
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "I plan my day ahead."
                                                },
                                                "key": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "sub_title": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "icon": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "color": {
                                                    "type": "string",
                                                    "example": "#0088FF",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Aptitude question updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Aptitude question updated successfully."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "How do you manage your time effectively?"
                                                },
                                                "sub_title": {
                                                    "type": "string",
                                                    "example": "Pick one that describes your approach.",
                                                    "nullable": true
                                                },
                                                "qn_type": {
                                                    "type": "string",
                                                    "example": "single"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-10-24T05:45:16.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-10-24T06:10:45.000000Z"
                                                },
                                                "options": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 11
                                                            },
                                                            "question_id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "I plan my day ahead."
                                                            },
                                                            "key": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "sub_title": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "icon": {
                                                                "type": "string",
                                                                "example": null,
                                                                "nullable": true
                                                            },
                                                            "color": {
                                                                "type": "string",
                                                                "example": "#0088FF",
                                                                "nullable": true
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-24T05:45:16.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-10-24T06:10:45.000000Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 422
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "title": [
                                                    "The title field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Question not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No query results for model [AptitudeQuestion] 999"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Server Error."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Aptitude"
                ],
                "summary": "Delete an aptitude question",
                "description": "Deletes a specific aptitude question and all its related options.",
                "operationId": "a6ed1e1336a4aae7b82f0a43fc143425",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the aptitude question to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aptitude question deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Aptitude question deleted successfully."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Aptitude question not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No query results for model [AptitudeQuestion] 999"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Server Error."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/aptitude/{questionId}/options/{optionId}": {
            "delete": {
                "tags": [
                    "Aptitude"
                ],
                "summary": "Delete an option from an aptitude question",
                "description": "Deletes a specific option belonging to a particular aptitude question.",
                "operationId": "e14752ea52ae545cf9d1485e12966f39",
                "parameters": [
                    {
                        "name": "questionId",
                        "in": "path",
                        "description": "ID of the aptitude question",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 5
                        }
                    },
                    {
                        "name": "optionId",
                        "in": "path",
                        "description": "ID of the option to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 11
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Option deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Option deleted successfully."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Option not found or does not belong to question",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No query results for model [AptitudeOption] 99"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Server Error."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/is_auth": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Check if the current user is authenticated",
                "description": "Validates the Sanctum token and confirms whether the user is authenticated or not.",
                "operationId": "c811342ee26fa06f4ded4fadc5ccd971",
                "responses": {
                    "200": {
                        "description": "User is authenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Authenticated"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid or missing token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 401
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "description": "Revokes the currently authenticated user's access token and logs them out.",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "User logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successful."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/is_verified": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Check if a user's email is verified",
                "description": "Validates the provided email and returns whether the user has a non-null email_verified_at.",
                "operationId": "isVerified",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com",
                                        "description": "User's email address"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User verified."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User can't be found."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
[...]
